@*@model OnlineShop.Domain.ViewModels.Account.LoginViewModel*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VSJKK</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/layout.min.css">
    <link rel="stylesheet" href="~/css/loginRegister.css">
</head>
<body>
    <header>
		<nav>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div> 
					<div class="col-md-2 offset-md-1">
						<div class="logo">
							<a asp-controller="Home" asp-action="Index" class="logo_link">
								<img src="~/img/logo/VSJJK_logo.svg" alt="logo" class="logo_img">
							</a>
						</div>
					</div>
					<div class="col-md-4 offset-md-1">
						<div class="items">
							<ul class="items_list">

                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="dropdown">
                                        <a class="nav-link  dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Admin
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-controller="Item" asp-action="Save">Items</a>
                                            <a class="dropdown-item" asp-controller="Admin" asp-action="Index">Users</a>
                                        </div>
                                    </div>
                                }
								<li class="items_list_item">
                                    <form asp-action="Search" asp-controller="Item" method="post" class="items_list_item_search">
                                        <input id="searchStirng" name="searchStirng" type="search" class="form-control" placeholder="Search..." aria-label="Search">
                                    </form>
								</li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="items_list_item">
                                        <img src="~/icons/heart.svg" alt="favourite" class="items_list_item_img">
                                        <a href="#" class="link"></a>
                                    </li>
                                }
								<li class="items_list_item">
                                    <a asp-controller="Cart" asp-action="GetCart" class="link">
                                        <img src="~/icons/basket.svg" alt="basket" class="items_list_item_img">
                                    </a>
								</li>
                                <li class="items_list_item">
                                    <a data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <img src="~/icons/logined.svg" alt="login" class="items_list_item_img">
                                        }
                                        else
                                        {
                                            <img src="~/icons/loginRegister.svg" alt="login" class="items_list_item_img">
                                        }
                                        
                                    </a>
                                </li>
							</ul>
						</div>
					</div>                       
				</div>
                <div class="main_menu_div">
                    <ul class="main_menu">
                        <li class="main_menu_item"><a asp-controller="Item" asp-action="GetItemsByType" asp-route-type="Coat" class="main_menu_link">COATS</a></li>
                        <li class="main_menu_item"><a asp-controller="Item" asp-action="GetItemsByType" asp-route-type="Denim" class="main_menu_link">DENIM</a></li>
                        <li class="main_menu_item"><a asp-controller="Item" asp-action="GetItemsByType" asp-route-type="Dress" class="main_menu_link">DRESSES</a></li>
                        <li class="main_menu_item"><a asp-controller="Item" asp-action="GetItemsByType" asp-route-type="Jacket" class="main_menu_link">JACKETS</a></li>
                        <li class="main_menu_item"><a asp-controller="Item" asp-action="GetItemsByType" asp-route-type="Shirt" class="main_menu_link">SHIRTS</a></li>
                        <li class="main_menu_item"><a asp-controller="Item" asp-action="GetItemsByType" asp-route-type="Short" class="main_menu_link">SHORTS</a></li>
                        <li class="main_menu_item"><a asp-controller="Item" asp-action="GetItemsByType" asp-route-type="Tshirt" class="main_menu_link">T-SHIRTS</a></li>
					</ul>    
                </div>
			</div>
		</nav>
	</header>
    <div class="container">
        <div class="modal fade login" id="loginModal">
            <div class="modal-dialog login animated">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="box">
                            <div class="content">
                                <div class="error"></div>
                                <div class="form loginBox" id="LoginSubmit">
                                    <form autocomplete="on" method="post" asp-controller="Account" asp-action="Login">
                                        <input placeholder="Email" id="Email" class="form-control" type="text" name="Email">
                                        <input id="Password" class="form-control" type="password" placeholder="Password" name="Password">
                                        <input class="btn btn-default btn-login" type="submit" value="Login" >
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="content registerBox" style="display:none;">
                                <div class="form">
                                    <form method="post" asp-controller="Account" asp-action="Register">
                                        <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                        <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                        <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                                        <input class="btn btn-default btn-register" type="submit" value="Register">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <div>
                                Looking to
                                <a href="javascript: showRegisterForm();">create an account</a>
                                ?
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div>
                                    <a asp-controller="Account" asp-action="Logout">Log out</a>
                                </div>
                            }
                        </div>
                        <div class="forgot register-footer" style="display:none">
                            <span>Already have an account?</span>
                            <a href="javascript: showLoginForm();">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


                    


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container">
		<footer>
			<div class="row gx-0">
				<div class="col-md-4 footer_information">
					<div class="footer_information_header">
						<div class="footer_information_header_text">INFORMATION</div>
					</div>
					<ul class="footer_information_links">
						<li><a href="">CONTACT US</a></li>
						<li><a href="">DELIVERY</a></li>
						<li><a href="">RETURNS</a></li>
						<li><a href="">SIZE GUIDE</a></li>
						<li><a href="">SUSTAINABILITY</a></li>
						<li><a href="">ACCESSIBILITY ADJUSTMENT</a></li>
						<li><a href="">TAX STRATEGY</a></li>
											
					</ul>
				</div>
				<div class="col-md-4 footer_company">
					<div class="footer_company_header">
						<div class="footer_company_header_text">THE COMPANY</div>
					</div>
					<div class="footer_company_links">
						<li><a href="">CAREERS</a></li>
						<li><a href="">STORES</a></li>
						<li><a href="">TERMS&CONDITIONS</a></li>
						<li><a href="">PRIVACY POLICY</a></li>
					</div>
				</div>
				<div class="col-md-4 footer_follow">
					<div class="footer_follow_header">
						<div class="footer_follow_header_text">CONTACT US</div>
					</div>
					<div class="footer_follow_links">
						<li><a href="">INSTAGRAM</a></li>
						<li><a href="">PINTEREST</a></li>
						<li><a href="">FACEBOOK</a></li>
						<li><a href="">TIKTOK</a></li>
					</div>
				</div>
			</div>
			<div class="col-md-12 copyriting">
				<div class="copyriting_text">Copyright © 2022, VSJJK</div>
			</div>
		</footer>
	</div>
    
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/LoginRegister.js"></script>
    <script src="/js/index.js"></script>

    @await RenderSectionAsync("pageScripts", required: false)
</body>
</html>
