@{
    ViewData["Title"] = "Главная";
}

<head>
    <link rel="stylesheet" href="~/css/index.min.css">
</head>

<section class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-6 main_left_side">
					<div class="main_left_side_img"></div>
					<div class="main_left_side_big_text">VSJJK</div>
					<div class="main_left_side_small_text">PLACE</div>
					<a class="main_left_side_btn" asp-controller="Item" asp-action="GetItems">
                            shop now
                    </a>
				</div>
				<div class="col-md-6 main_right_side"></div>
			</div>
		</div>
	</section>

    <section class="collection">
        <div class="collection_divider"></div>
        <div class="container">
            <div class="new_collections">
                <div class="new_collections_left_img"></div>
                <div class="new_collections_center_img"></div>
                <div class="new_collections_right_img"></div>
                <div class="new_collections_text">new COLLECTION</div>
                <a class="new_collections_btn" asp-controller="Item" asp-action="GetItems">
                    SEE ALL
                </a>
            </div>
        </div>
    </section>

    @await Html.PartialAsync("_NowInTrend")
